<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heuristify.mdu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDU"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".view.activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar" />
        <activity
            android:name=".view.activities.AttendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar" />
        <activity
            android:name=".view.activities.PinViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar" />
        <activity
            android:name=".view.activities.GetStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDU.NoActionBar" />
    </application>

</manifest>